<div class="main">
    <button class="btn btn-success"><a class="active" href="list/admin">ADD HOTELS</a></button>
  <h1>ALL HOTELS</h1>


  <form [formGroup]="Hotelupdateform">
    <ng-container formArrayName="hotelArray">
        <ng-container *ngFor="let hotel of hotelArray.controls;let i=index">
            <ng-container [formGroupName]="i">
                <div class="card" style="float:left" >
                    <div >
                      <img  (click)="onclick(i)" class="card-img-top" src='../../assets/images/{{hotel.value.Image}}' alt="Card image cap">
                      <div class="card-body">

                        <input formControlName='Name' class="card-title">
                         <input formControlName='Veg'>

                      </div>

                    </div>
                  <div class="Button">
                    <div class="Button1" (click)="deleteHotel(i)">DELETE HOTEL</div>

                    <div class="Button2" (click)="updateHotel(i)">UPDATE HOTEL</div>
                  </div>

                  </div>

            </ng-container>
          </ng-container>
    </ng-container>

  </form>
</div>
